@{
    ViewData["Title"] = "WaterChemistryReport";
    Layout = null;
}


<div class="dcontent">
    <div style="margin-top: 10px; background-color: #6b8d9e; padding-top: 5px; padding-bottom: 5px; padding-right: 10px; border-radius: 5px; border: solid 1px #cccccc; background: repeating-linear-gradient(-45deg, #7fa1b3, #6b8d9e 1px, #6b8d9e 1px, #6b8d9e 20px);">
        &nbsp;
    </div>

    <div style="border-radius: 5px; margin-top: 5px; margin-bottom: 5px; padding: 15px; border: solid 1px #cea001; background-color: #ffe100;">
        <table cellpadding="3" cellspacing="0">
            <tbody>
                <tr>
                    <td style="">
                        <b><a class="breadcumb2-link" href="/Admin">Main</a></b>
                    </td>
                </tr>
            </tbody>
        </table>
        <a id="iHelp" style="float: right; position: relative; top: -32px;" href="javascript:;" onclick="showHelp();">
            <img src="/images/help.png" style="width: 48px;" class="imgHelp">
        </a>
    </div>




    <div id="iContent">

        <div class="tab-buttons">
            <ul>
                <li id="tab-button1" class="tab-buttons-li" style="background-color: rgb(240, 240, 240); border-color: rgb(192, 192, 192); font-weight: normal;">
                    <a id="tab-button-a1"
                       onclick="showPage1()" style="cursor:pointer;color: rgb(0, 113, 158);">
                        SACOR Report
                    </a>
                </li>
                <li id="tab-button2" class="tab-buttons-li" style="background-color: rgb(240, 240, 240); border-color: rgb(192, 192, 192); font-weight: normal;">
                    <a id="tab-buttona2" onclick="showPage2()" style="cursor:pointer;color: rgb(110, 110, 255);">
                        Transients Report
                    </a>
                </li>
                <li id="tab-button3" class="tab-buttons-li" style="background-color: rgb(208, 208, 208); border-color: rgb(128, 128, 128); font-weight: bold;">
                    <a id="tab-button-a3" onclick="showPage3()" style="cursor:pointer;color: rgb(110, 110, 255);">
                        Deviation of water chemistry parameters Report
                    </a>
                </li>
            </ul>
            <div style="clear:both;"></div>
        </div>
    </div>

    <div class="bevel-box">
        <form asp-controller="AgeingAssessment" asp-action="WaterChemistryReport" method="get" >

            <table cellpadding="3" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            @if (ViewBag.System != "")
                            {
                                <label style="margin:10px">
                                    System:
                                    <select aria-controls="myTable" class="">
                                        <option value="">@ViewBag.System</option>
                                    </select>
                                </label>
                            }
                            else
                            {
                                <label style="margin:10px">
                                    System:
                                    @*<select name="system" asp-items="@(new SelectList(ViewBag.SearchSystem,"System","System"))" aria-controls="myTable" class="">*@
                                    <select name="system" id="searchSystem" asp-items="@ViewBag.SearchSystem as SelectList" aria-controls="myTable" class="">
                                        <option value="">Select</option>
                                    </select>
                                </label>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (ViewBag.SampleePoints != "")
                            {
                                <label style="margin:10px">
                                    Sampling Point:
                                    <select aria-controls="myTable" class="">
                                        <option value="">@ViewBag.SampleePoints</option>
                                    </select>
                                </label>
                            }
                            else
                            {
                                <label style="margin:10px">
                                    Sampling Point:
                                    <select id="searchSamplepoint" name="samplePoint" asp-items="@ViewBag.SamplePoint as SelectList" aria-controls="myTable" class="">
                                        <option value="">Select</option>
                                    </select>
                                </label>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (ViewBag.SystemState != "")
                            {
                                <label style="margin:10px">
                                    System State:
                                    <select aria-controls="myTable" class="">
                                        <option value="">@ViewBag.SystemState</option>
                                    </select>
                                </label>
                            }
                            else
                            {
                                <label style="margin:10px">
                                    System State:
                                    <select name="systemState" id="systemState" aria-controls="myTable" class="">
                                        <option value="">Select</option>
                                        <option value="<30%"> 30%> </option>
                                        <option value=">50%"> >50% </option>
                                        <option value="30%-50%"> 30%-50% </option>
                                        <option value="Change fuel">Change fuel</option>
                                        <option value="Cold run">Cold run</option>
                                        <option value="Hot run">Hot run</option>
                                        <option value="MLC">MLC</option>
                                        <option value="Conservation-Passivation">Conservation-Passivation</option>
                                    </select>
                                </label>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (ViewBag.Cycle != "")
                            {
                                <label style="margin:10px">
                                    Cycle:
                                    <select aria-controls="myTable" class="">
                                        <option value="">@ViewBag.Cycle</option>
                                    </select>
                                </label>
                            }
                            else
                            {
                                <label style="margin:10px">
                                    Cycle:
                                    <select id="cycle" name="cycle" aria-controls="myTable" class="">
                                        <option value="">Select</option>
                                        <option value="1st Cycle">1st Cycle</option>
                                        <option value="2nd Cycle">2nd Cycle</option>
                                    </select>
                                </label>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (ViewBag.DateAndTime != "")
                            {
                                <label style="margin:10px">
                                    Date And Time:
                                </label>
                                <input value="@ViewBag.DateAndTime" type="text" style="direction: ltr; text-align: left;">
                            }
                            else
                            {
                                <label style="margin:10px">
                                    Date And Time:
                                </label>
                                <input name="dateAndTime" id="dateAndTime" type="text" style="direction: ltr; text-align: left;">
                                <input @*name="schDate"*@ id="schDate" onchange="GetSearchfromDate();">
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (ViewBag.Parameters != "")
                            {
                                <label style="margin:10px">
                                    Parameter:
                                    <select aria-controls="myTable" class="">
                                        <option value="">@ViewBag.Parameters</option>
                                    </select>
                                </label>
                            }
                            else
                            {
                                <label style="margin:10px">
                                    Parameter:
                                    <select id="parameter" name="parameter" asp-items="@ViewBag.Parameter as SelectList" aria-controls="myTable" class="">
                                        <option value="">Select</option>
                                        <option value="pH">pH</option>
                                        <option value="CL">CL</option>
                                        <option value="Na">Na</option>
                                        <option value="So4">So4</option>
                                        <option value="PH">PH</option>

                                    </select>
                                </label>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (ViewBag.DateFrom != "" && ViewBag.DateTo != "")
                            {
                                <label style="margin:10px">
                                    Date From:
                                </label>
                                <input value="@ViewBag.DateFrom" type="text" style="direction: ltr; text-align: left;">

                                <label style="margin:10px">
                                    TO:
                                </label>
                                <input value="@ViewBag.DateTo" type="text" style="direction: ltr; text-align: left;">
                            }
                            else
                            {
                                <label style="margin:10px">
                                    Date From:
                                </label>
                                <input name="dateFrom" id="dateFrom" type="text" style="direction: ltr; text-align: left;">
                                <input @*name="schDateFrom"*@ id="schDateFrom" onchange="GetSearchStartDate();">

                                <label style="margin:10px">
                                    TO:
                                </label>
                                <input name="dateTo" id="dateTo" type="text" style="direction: ltr; text-align: left;">
                                <input @*name="schDateTo"*@ id="schDateTo" onchange="GetSearchEndDate();">
                            }

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label style="margin:10px">
                                <input type="button" value="Search" onclick="SearchChemistry()" style="direction: ltr; text-align: left;">
                                <input type="button" onclick="cancel()" class="butn-cancel" style="direction: ltr; text-align: center;margin-bottom:-7px;">
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div id="newList">
    </div>
</div>


<link href="/css/kendo.common.min.css" rel="stylesheet" />
<link href="/css/kendo.default.min.css" rel="stylesheet" />
<link href="/css/jquery.dataTables.min.css" rel="stylesheet" />

<script src="/js/jquery.min.js"></script>
<script src="/js/kendo.all.min.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
<script src="/js/datatables.min.js"></script>




<script>
    $(document).ready(function () {
        $("#myTable").DataTable();
    });

    function showPage1() {
        $("#Tabs").load("/AgeingAssessment/SACORReport/");
    }

    function showPage2() {
        $("#Tabs").load("/AgeingAssessment/TransientsReport/");
    }

    function showPage3() {
        $("#Tabs").load("/AgeingAssessment/WaterChemistryReport/");
    }

    function cancel() {
        $("#Tabs").load("/AgeingAssessment/WaterChemistryReport/");
    }

    

    $("#checkAll").click(function () {
        $(".checkBox").prop('checked',
            $(this).prop('checked'));
    });

    $("#reportDate").kendoDatePicker();
    $("#searchDate").kendoDatePicker();
    $("#searchfileDate").kendoDatePicker(
        {
            format: "yyyy/MM/dd"
        }
    );

    $("#schDate").kendoDatePicker(

        {
            format: "MM/dd/yyyy"
        }
    );

    $("#schDateTo").kendoDatePicker(
        {
            format: "MM/dd/yyyy"
        }
    );

    $("#schDateFrom").kendoDatePicker(
        {
            format: "MM/dd/yyyy"
        }
    );

    function GetSearchfromDate() {
        var date = $('#schDate').val();

        $('#dateAndTime').val(date);

        $('#schDate').val("");

    };


    function GetSearchStartDate() {
        var date = $('#schDateFrom').val();

        $('#dateFrom').val(date);

        $('#schDateFrom').val("");

    };

    function GetSearchEndDate() {
        var date = $('#schDateTo').val();

        $('#dateTo').val(date);

        $('#schDateTo').val("");

    };

    $("#searchSystem").change(function () {
        $("#searchSamplepoint").empty();
        $.getJSON("/Chemistry/GetSubGroups/" + $("#searchSystem :selected").val(),
            function (data) {

                $.each(data,
                    function () {
                        $("#searchSamplepoint").append('<option value=' + this.value + '>' + this.text + '</option>');

                    });
            });

    });


    $("#searchSamplepoint").change(function () {
        $("#parameter").empty();
        $.getJSON("/Chemistry/GetSecondSubGroups/" + $("#searchSamplepoint :selected").val(),
            function (data) {

                $.each(data,
                    function () {
                        $("#parameter").append('<option value=' + this.value + '>' + this.text + '</option>');

                    });
            });

    });


    $('#searchFilter').submit(function () {

        var selected = $('#searchSystem').find(":selected").text();

       

        if (selected != "Select") {
            $('#searchSystem option').val(function () {
                return $(this).text();
            });
        }

        var selectedPoint = $('#searchSamplepoint').find(":selected").text();

        if (selectedPoint != "Select") {
            $('#searchSamplepoint option').val(function () {
                return $(this).text();
            });
        }

        var parametr = $('#parameter').find(":selected").text();

        if (selectedPoint != "Select") {
            $('#parameter option').val(function () {
                return $(this).text();
            });
        }
    });

    $(document).ready(function () {
        $('tbody tr[role="row"]').hide();
    });

    $(document).ready(function () {
        var groupColumn = 2;
        var table = $('#myTable').DataTable({


            columnDefs: [{ visible: false, targets: groupColumn }],
            order: [[groupColumn, 'asc']],

            // hide "Showing 1 of N Entries" with the dataTables.js library
            "info": false,

            //colReorder: {
            //    order: [ 5,6]
            //},

            //"ordering": true,
            //columnDefs: [{
            //    orderable: false,
            //    targets: "no-sort"
            //}],
            //displayLength: 1000,

            //paging: false,

            //lengthMenu: [
            //    [-1, 10, 25, 50,75],
            //    ['All', 10, 25, 50,75],
            //],


            drawCallback: function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();

                var last = null;

                api
                    .column(groupColumn, { page: 'current' })
                    .data()
                    .each(function (group, i) {
                        if (last !== group) {
                            $(rows)
                                .eq(i)
                                .before('<tr class="group" id="' + i + '" style="background-color: rgba(0, 0, 0, 0.15);"><td class="dt-control"></td><td colspan="16">' + group + '</td></tr>');

                            last = group;

                        }
                    });
            },
        });


        //Add parameter to class  class="group'+i+'"
        // Order by the grouping
        $('#myTable tbody').on('click', 'tr.group', function () {

            $($(this)).nextUntil(".group").filter('tr[role="row"]').toggle();

        });

    });


    function SearchChemistry() {
        //debugger;

        var selected = $('#searchSystem').find(":selected").text();

        

        if (selected != "Select") {
            $('#searchSystem option').val(function () {
                return $(this).text();
            });
        }else{
            selected="";
        }

        var selectedPoint = $('#searchSamplepoint').find(":selected").text();

        if (selectedPoint != "Select") {
            $('#searchSamplepoint option').val(function () {
                return $(this).text();
            });
        } else {
            selectedPoint = "";
        }

        var parametrs = $('#parameter').find(":selected").text();

        if (parametrs != "Select") {
            $('#parameter option').val(function () {
                return $(this).text();
            });
        } else {
            parametrs = "";
        }

        //alert(parametrs);

        var state = $('#systemState').find(":selected").text();

        if (state != "Select") {
            $('#systemState option').val(function () {
                return $(this).text();
            });
        } else {
            state = "";
        }

        var cyle = $('#cycle').find(":selected").text();

        if (cyle != "Select") {
            $('#cycle option').val(function () {
                return $(this).text();
            });
        } else {
            cyle = "";
        }

        var dateandTime = $('#dateAndTime').val();

        var dateFrom = $('#dateFrom').val();
        var dateTo = $('#dateTo').val();

        
        //debugger;

        $.ajax({

            

            type: "POST",
            url: "/AgeingAssessment/SearchChemistry",
            data: {
                "system": selected,
                "samplePoint": selectedPoint,
                "systemState": state,
                
                "dateAndTime": dateandTime,
                "dateFrom": dateFrom,
                "dateTo": dateTo,
                "cycle": cyle,
                "parametr": parametrs,
            },
            success:
                function (response) {


                    $("#newList").html(response);

                    //selectedRow.after(response);


                },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

</script>
